
<div class="container">
<h3>Create Transaction</h3>
<div [hidden]="submitted" style="width: 400px; ">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"> montant</label>
      <input type="number" class="form-control" id="firstName" required [(ngModel)]="transaction.montant" name="firstName">
    </div>
    <div class="form-group">
        <label for="name">description </label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="transaction.description" name="lastName">
      </div>
  
      <div class="form-group">
        <label for="name">types</label>
        <input type="text" class="form-control" id="emailId" required [(ngModel)]="transaction.types" name="emailId" readonly>
      
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" required [(ngModel)]="transaction.types" value="revenu">
            <label class="form-check-label" for="inlineRadio1">revenu</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" required [(ngModel)]="transaction.types" value="depence">
            <label class="form-check-label" for="inlineRadio2">depence</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" required [(ngModel)]="transaction.types" value="transfert">
            <label class="form-check-label" for="inlineRadio2">transfert</label>
          </div>
         </div>
    
    
      </div>

    
 
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" 
    
    (click)="newEmployee()">Add</button> -->
</div>

</div>