<div class="row">
  <div class="col-xs-12">
    <img
      [src]="revenu.imagePath"
      alt="{{ revenu.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ revenu.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage revenu <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Adding List</a></li>
        <li><a href="#">Edit revenu</a></li>
        <li><a href="#">Delete revenu</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ revenu.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Items
  </div>
</div>
