<div class ="container">
    <div class = "card">
      <h1 class="text-center">category List</h1>
      <div class = "card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>category-name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories | async">
              <td>{{category._id}}</td>
              <td>{{category.nomCat}}</td>
              <td><button (click)="deleteCategory(category._id)" class="btn btn-danger">Delete</button>
                  <button (click)="CategoryDetails(category._id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>