<div class ="container">
  <div class = "card">
    <h3 class="text-center">User List</h3>
    <div class = "card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utilisateur of utilisateurs | async">
            <td>{{utilisateur._id}}</td>
            <td>{{utilisateur.username}}</td>
            <td>{{utilisateur.email}}</td>
            <td>{{utilisateur.telephone}}</td>
            <td><button (click)="deleteUtilisateur(utilisateur._id)" class="btn btn-danger">Delete</button>
                <button (click)="UtilisateurDetails(utilisateur._id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>